@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..1000&display=swap');

/* Базовые стили */
:root {
    --primary-color: #6C5CE7;
    --accent-color: #FDCB6E;
    --text-color: #2D3436;
    --bg-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header styles */
header.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 901px;
    height: 55px;
    margin: 0 50px;
    background-color: var(--bg-color);
}

.header a.logo {
    display: flex;
    height: 64px;
    margin-top: 4px;
    transition: 0.3s;
}

.header a.logo:hover {
    color: var(--accent-color);
    transform: rotate(15deg);
}

.header ul.header_list {
    display: flex;
    gap: 10px;
}

/* Button styles */
.btn {
    width: 170px;
    height: 64px;
    background-color: var(--primary-color);
    color: #FFFFFF;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    transition: 0.05s;
}

.btn:hover {
    color: var(--accent-color);
}

.btn:active {
    color: #858585;
    outline: 2px solid #858585;
    background-color: var(--bg-color);
}

/* Link styles */
.header a {
    font-size: 18px;
    transition: font-weight 0.3s;
}

.header a.dot {
    color: var(--accent-color);
}

.header a.header_purple {
    color: var(--primary-color);
}

.header a.header_purple:hover {
    font-weight: bold;
}

.header a:active {
    color: #858585;
}

/* Shadow line */
.shadow_line {
    width: 101vw;
    height: 1px;
    margin-left: -25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
.footer {
    width: 101vw;
    height: 100vh;
    margin-left: -8px;
    background-image: url(./images/footerBgYeallowWave.svg);
    background-repeat: repeat-x;
}
