@font-face {
    font-family: 'Inter';      /* Название шрифта для использования в CSS */
    src: url('fonts/Inter.ttf') format('truetype'); /* Современный формат */
    font-weight: 400;                 /* Насыщенность шрифта (normal) */
    font-style: normal;               /* Стиль шрифта (обычный) */
    font-display: swap;               /* Стратегия загрузки шрифта */
}

@font-face {
    font-family: 'InterItalic';      /* Название шрифта для использования в CSS */
    src: url('fonts/InterItalic.ttf') format('truetype'); /* Современный формат */
    font-weight: 400;                 /* Насыщенность шрифта (normal) */
    font-style: normal;               /* Стиль шрифта (обычный) */
    font-display: swap;               /* Стратегия загрузки шрифта */
}

.header {
    margin-bottom: -50%;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
}

.header_rect{
    margin-bottom: calc(-50vw + 50%);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background: #ff0000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    

}

.box_sides_header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6C5CE7;
    font-family:'Inter';
    font-style: normal;
    font-weight: bold;
}


.box_center_header {
    height: 100%;
    width: 33vw;
    display: inline;
    padding: 10px;
}

a.shadow_line{
    width: 901;
    height: 3;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}